.jumbotron{
    background-color: #158ed4;
    color: white;
    text-align: center;
    margin-top: 50px;
    
}
.footer {
     padding: 10px 10px 0 10px; 
    background-color: #158ed4;
    color:white;
    
      
      
}

.Tderecha{
    justify-content: right;
}


  .flex-items{
    flex:20%;
    padding: 2px 2px 5px 2px;
     
  }

  * {
    box-sizing: border-box;
  }
.flex-container{
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  flex: 20px;
  text-align: center;
  
}

.btn{width: 100%;}

.tab-content {
  padding-top: 10px;
}
/* 
----------------chulo-------------------------- */
/* <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
</svg> */
